@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Libre+Franklin:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=DM+Sans&display=swap');
*
{
    font-family: 'DM Sans', sans-serif;

}
h1{
    text-align: center;
    text-decoration: underline;
}
p{
    font-size: x-large;
    width: 60%;
    margin-left: 7rem;
    font-family: 'Assistant', sans-serif;
    
}
.intro-img
{
    margin-left: 10rem;
    width: 70%;
    
    
}
.bold
{
    font-style: bold;

}

h2{
    margin-left: 7rem;
}
.p-img
{
    width: 60%;
}
.p-img1
{
    width: 100%;
}
